<%= link_to image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Twitter_Logo_Mini.svg/2000px-Twitter_Logo_Mini.svg.png"), '/auth/twitter', class: "twitter-link" %>
		<h2 class="text-center"> Log In With Twitter! </h2>